<!-------------------FOOTER------------------>
<footer class="footer container-fluid">
  <div class="grid">
    <div class="grid__row">
      <div class="col-md-3 col-sm-4">
        <h4 class="footer__heading">Về BútKing</h4>
        <ul class="footer-list">
          <li class="footer-list-item">
            <a class="footer-item__link" href="">Trung Tâm Trợ Giúp</a>
          </li>

          <li class="footer-list-item">
            <a class="footer-item__link" href="">Trở thành nhà cung cấp</a>
          </li>
          <li class="footer-list-item">
            <a class="footer-item__link" href="">Hướng Dẫn Mua Hàng</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-4">
        <h4 class="footer__heading">Danh mục</h4>
        <ul class="footer-list">
          <li class="footer-list-item">
            <a class="footer-item__link" href="">Dược phẩm</a>
          </li>
          <li class="footer-list-item">
            <a class="footer-item__link" href="">Chăm sóc cá nhân</a>
          </li>
          <li class="footer-list-item">
            <a class="footer-item__link" href="">Chăm sóc sức khoẻ</a>
          </li>
          <li class="footer-list-item">
            <a class="footer-item__link" href="">Thực phẩm chức năng</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-4">
        <h4 class="footer__heading">Theo dõi chúng tôi</h4>
        <ul class="footer-list">
          <li class="footer-list-item">
            <a class="footer-item__link" href="">
              <i class="footer-item__icon fab fa-facebook"></i>
              Facebook
            </a>
          </li>
          <li class="footer-list-item">
            <a class="footer-item__link" href="">
              <i class="footer-item__icon fab fa-instagram"></i>
              Instagram
            </a>
          </li>
          <li class="footer-list-item">
            <a class="footer-item__link" href="">
              <i class="footer-item__icon fab fa-linkedin"></i>
              Linkedin
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-4">
        <h4 class="footer__heading">Vào cửa hàng trên ứng dụng</h4>
        <div class="footer__download  mb-3">
          <img alt="Download QR" class="footer__download-qr"
               src="https://www.pharmacity.vn/images/qr-code-download-app.png">
        </div>
        <div class="footer__download">

          <div class="">
            <a class="footer__download-app-link" href="">
              <img alt="Download QR - App Store" class="footer__download-app-img"
                   src="https://www.pharmacity.vn/images/app%20store.png">
            </a>
            <a class="" href="">
              <img alt="Download QR - Google Play" class="footer__download-app-img"
                   src="https://www.pharmacity.vn/images/gg-play.png">
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="footer__bottom">
    <div class="grid">
      <h5 class="footer__text">&copy; 2022 - Bản quyền thuộc về Công Ty Cổ Phần BútKing</h5>
      <br>
      <p class="footer__text">Trụ sở: 356 Hoàng Diệu, P.Bình Thuận, Q. Hải Châu, TP. Đà Nẵng.</p>
      <p class="footer__text"> Điện thoại: 1900 1221. Email:cskh@butking.vn</p>
      <br>
      <p class="footer__text"> GPDKKD: 0351458958</p>
      <p class="footer__text"> do sở KH & ĐT TP.Đà Nẵng cấp lần đầu ngày 06/06/2022, đăng ký thay đổi lần thứ: 2,
        ngày 07/07/2022.</p>
    </div>
  </div>
</footer>
