.wrapper {
  font-size: 16px;
  height: 100%;
  margin: 0;
  min-height: calc(100vh - 150px - 142px);
}
h2 {
  font-size: 1.5rem !important;
}
.product-quantity-group {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  width: 110px;
}

.product-quantity-group input {
  width: 28px;
  text-align: center;
  color: #fff;
  height: 24px;
  font-size: 12px;
  border-radius: 5px;
  border: 0px;
}

.product-quantity-group button {
  border: 0;
  background-color: transparent;
  color: #112950;
  cursor: pointer;
  font-size: 22px;
  width: 24px;
  padding: 0;
  text-align: center;
  position: relative;
}
.align-right {
  text-align: right;
}
.per-price {
  font-size: .9rem;
  padding-right: 16px;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
#exampleModal{
  position: fixed;
  top: 15%;
}
#deleteModal{
  position: fixed;
  top: 15%;
}
#errorModal{
  position: fixed;
  top: 15%;
}
.bg-success, .btn-success {
  background: #999928 !important;
  color: #fff !important;
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success.active {
  background: #ffffff !important;
  color: #999928 !important;
  border-color: #999928 !important;
}
.btn-outline-success {
  color: #999928 !important;
  background-color: #fff !important;
  border-color: #999928 !important;
  font-weight: bold !important;
  letter-spacing: 0.05em !important;
  border-radius: 0 !important;
}

.btn-outline-success:hover,
.btn-outline-success:active,
.btn-outline-success:focus,
.btn-outline-success.active {
  /* let's darken #004E64 a bit for hover effect */
  background: #999928 !important;
  color: #fff !important;
  border-color: #999928 !important;
}
